doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description' content=':) Juicys :)')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel='stylesheet' href='/css/artist.css')
        link(rel='icon' type='image/png' href='/img/juicysfavicon1.ico')

        script(src='/libs/jquery-2.1.1.min.js')
        script(src='/js/main.js')

        title Flannery Silva | Juicys Gallery
    body
        a(href="/")
            i.back-btn.fa.fa-angle-left
        a(href="http://romantica1fem.info/keeper_of_shrinking_violet.html")
            img.header-img(src='/artists/Flannery-Silva/fs-header.jpg')
        h1.gallery-name Juicys Gallery
        p.address
            | Manhattan Mini Storage
            br
            | 510 West 21st Street Room 05-03-18,
            br
            | New York, New York 10011
        h1.name Flannery Silva
            br
            span.dates June 19, 2014 &mdash; July 10, 2014

        h2.title Keeper of Shrinking Violet
        .content
            p
                q(cite="https://www.youtube.com/watch?v=96aRsaHC3kQ") 
                    | "Tried so hard, tried to be. What every girl should be." 
                    | &ndash; Marine Girls
            p    
                | Juicys Gallery is pleased to announce ‘Keeper of Shrinking 
                | Violet” a solo exhibition by Baltimore based artist Flannery 
                | Silva, on view at Manhattan Mini Storage 510 W. 21st Street in 
                | New York.
            p
                | For ‘Keeper of Shrinking Violet” Silva presents a suite of small 
                | floor sculptures, a mobile, a poster, and a children’s book in 
                | PDF form. Scattered over a variety of media, she enamors with an 
                | astute sense of loss. Though gloomy and contemplative, this is 
                | not “loss” in the traditional sense, of loved ones or loved 
                | things. Instead the pieces clue witnesses to that rather 
                | difficult evolution of the self. As personality adapts to 
                | maturity and begins a steady molting of old layers, subtle 
                | changes manifest themselves through quiet castaways. What was 
                | once seemingly true or important fades to not.
            p
                | Likened to the caterpillar before its final cocooning, Silva’s 
                | new work can be viewed as her latest apolysis. Throughout its 
                | development each butterfly larvae goes through a series of 
                | instars- a process of shedding their exoskeleton cuticle for a 
                | new, harder and bigger shell. As one cuticle reaches the end of 
                | its cycle another replaces it from underneath, stronger and more 
                | prepared for the outside world than the last. By the 
                | caterpillar’s last instar, the future butterfly’s wing patterns 
                | begin to emerge, keying the world to its beauty. In this 
                | adaptation, we peek at the fragile markings of a visual 
                | danseuse. Elegantly crafted and lightly peppered with literary 
                | references, Silva’s sculpture garden breathes full with life. 
                | Caution though, this keeper seems to be battling inwardly: 
                | bonnets whispering, flowers wilting, ghosts waving back. These 
                | are the dreams of a country girl caught mid-journey. And it is 
                | clear this shell is just as strong as the last, if not stronger. 
                | For as one wanes, another waxes.
        footer
            a(href="/artists/Flannery-Silva/Keeper_of_Shrinking_Violet.pdf") Keeper_of_Shrinking_Violet.pdf
            br
            a(href="http://romantica1fem.info/keeper_of_shrinking_violet.html") http://romantica1fem.info/keeper_of_shrinking_violet.html
        script.
            _main.init();