doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description' content=':) Juicys :)')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel='stylesheet' href='/css/artist.css')
        link(rel='icon' type='image/png' href='/img/juicysfavicon1.ico')

        script(src='/libs/jquery-2.1.1.min.js')
        script(src='/js/main.js')

        title Keith AllYn Spencer | Juicys Gallery
    body
        a(href="/")
            i.back-btn.fa.fa-angle-left
        img.header-img(src='/artists/Keith-AllYn-Spencer/kas-header.jpg')
        h1.gallery-name Juicys Gallery
        p.address
            | Manhattan Mini Storage
            br
            | 220 South Street Room 02865,
            br
            | New York, New York
            br
        h1.name Keith AllYn Spencer
            br
            span.dates May 9, 2014 &mdash; May 31, 2014

        h2.title Everything Not Saved Will B Lost
        .content
            p 
                | Juicys Gallery is pleased to present a solo exhibition of new 
                | paintings by Keith AllYn Spencer, on view at Manhattan Mini 
                | Storage, 220 South Street in New York. Please join us for an 
                | opening reception on Thursday, May 8, from 6-8pm. RSVP required.
            p
                | KEITH ALLyN SPENCER was born and raised in the American desert 
                | southwest border region. An emphasis w/ the middle letter of his 
                | name helps diminish the perpetual mix-up with similar named 
                | persons: Keith Spencer, Kevin Spencer, Kenneth Allan Spencer, 
                | Spencer Kenny Allen, Kanye West, so on and so forth.
            p
                | Currently, Kurt resides with his family in Bloomington, Indiana, 
                | USA – the tie-dye capital of the world. He is a (just) Visiting 
                | Assistant Professor at Indiana University, trying to navigate 
                | towards long-term job security, cul-de-sacs, and organic 
                | groceries. Kent has showcased his works in various group shows, 
                | “p0p-up” spaces, coffee shops, bars, blogs and academic 
                | galleries. Most recently, Karl has held solo exhibitions at 
                | Welcome Screen, Oliver Francis, Target, Domino’s Pizza and the 
                | Rhode Island Credit Union so help you God.
            p
                | Juicys Gallery is a pop-up exhibition platform based in New York 
                | City. Founded in 2014, Juicys Gallery capitalizes on the 
                | affordability and ubiquity of the self-storage industry to 
                | create temporary gallery situations.

        footer
            img(src='/artists/Keith-AllYn-Spencer/1_enswbl.png')
            img(src='/artists/Keith-AllYn-Spencer/2_enswbl.png')
            img(src='/artists/Keith-AllYn-Spencer/3_enswbl.png')
            img(src='/artists/Keith-AllYn-Spencer/4_Ankle-Breaker.png')
            img(src='/artists/Keith-AllYn-Spencer/5_Snowoman.png')
            img(src='/artists/Keith-AllYn-Spencer/6_enswbl.png')
            img(src='/artists/Keith-AllYn-Spencer/7_Trouble.png')
            img(src='/artists/Keith-AllYn-Spencer/8_Bobby-Sized.png')
        script.
            _main.init();