/* line 17, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/_base.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../scss/_base.scss */
a {
  text-decoration: none;
}
/* line 6, ../scss/_base.scss */
a:visited {
  color: #242424;
}
/* line 7, ../scss/_base.scss */
a:hover {
  color: blue;
  text-decoration: underline;
}

/* line 13, ../scss/_base.scss */
.back-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}

/* line 8, ../scss/artist.scss */
body {
  width: 680px;
  max-width: 100vw;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 12px;
  letter-spacing: 0.03em;
  padding: 45px 20px 20px;
}
@media (max-width: 400px) {
  /* line 8, ../scss/artist.scss */
  body {
    padding: 16px;
  }
}

/* line 18, ../scss/artist.scss */
.header-img {
  width: 100%;
  margin-bottom: 20px;
}

/* line 24, ../scss/artist.scss */
.gallery-name {
  font-weight: bold;
}

/* line 27, ../scss/artist.scss */
.name, .title {
  font-weight: bold;
  margin: 16px 0;
}

/* line 32, ../scss/artist.scss */
.dates {
  font-weight: bold;
  margin: 0;
}

/* line 37, ../scss/artist.scss */
.address {
  font-weight: bold;
  line-height: 1.1em;
}
/* line 40, ../scss/artist.scss */
.address .subway {
  display: none;
}

/* line 43, ../scss/artist.scss */
.content {
  padding-right: 80px;
  letter-spacing: 0.01em;
}
@media (max-width: 400px) {
  /* line 43, ../scss/artist.scss */
  .content {
    padding-right: 0;
  }
}
/* line 47, ../scss/artist.scss */
.content p {
  text-align: justify;
  margin: 16px 0;
  line-height: 1.2em;
  clear: both;
}
/* line 48, ../scss/artist.scss */
.content p:not(.noindent) {
  text-indent: 10px;
}
/* line 55, ../scss/artist.scss */
.content .centered {
  text-align: center;
}
/* line 56, ../scss/artist.scss */
.content .pull-right {
  text-align: right;
}
/* line 57, ../scss/artist.scss */
.content .pad5 {
  padding: 5px;
}
/* line 58, ../scss/artist.scss */
.content .italic {
  font-style: italic;
}

/* line 61, ../scss/artist.scss */
.contact {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* line 65, ../scss/artist.scss */
.contact:hover {
  color: blue;
  text-decoration: underline;
}

/* line 71, ../scss/artist.scss */
footer {
  margin: 60px 0;
  word-wrap: break-word;
}
/* line 74, ../scss/artist.scss */
footer img {
  margin: 10px 0;
  max-width: 500px;
}
@media (max-width: 400px) {
  /* line 74, ../scss/artist.scss */
  footer img {
    max-width: 100%;
  }
}
/* line 81, ../scss/artist.scss */
footer a {
  color: black;
}
/* line 83, ../scss/artist.scss */
footer a:hover {
  color: blue;
  text-decoration: underline;
}
