/*
Syntax error: Undefined mixin 'bp'.
        on line 17 of /Users/Eli/Sites/juicys.gallery/src/scss/_base.scss, in `bp'
        from line 17 of /Users/Eli/Sites/juicys.gallery/src/scss/_base.scss
        from line 2 of /Users/Eli/Sites/juicys.gallery/src/scss/screen.scss

Backtrace:
/Users/Eli/Sites/juicys.gallery/src/scss/_base.scss:17:in `bp'
/Users/Eli/Sites/juicys.gallery/src/scss/_base.scss:17
/Users/Eli/Sites/juicys.gallery/src/scss/screen.scss:2
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/bin/compass:44:in `call'
/Users/Eli/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/Users/Eli/.rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/Users/Eli/.rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/Users/Eli/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/Eli/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bp'.\A         on line 17 of /Users/Eli/Sites/juicys.gallery/src/scss/_base.scss, in `bp'\A         from line 17 of /Users/Eli/Sites/juicys.gallery/src/scss/_base.scss\A         from line 2 of /Users/Eli/Sites/juicys.gallery/src/scss/screen.scss"; }
