doctype html
html
    head
        meta(charset='utf-8')
        meta(name='Description' content='Flannery Silva | Liz Englander | Luke Libera Moore | Keith AllYn Spencer | Lily Wong | Becca Abbe')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel='stylesheet' href='/css/screen.css')
        link(rel='icon' type='image/png' href='/img/juicysfavicon1.ico')

        script(src='/libs/jquery-2.1.1.min.js')
        script(src='/js/main.js')

        title Juicys Gallery
    body
        header
            .image
            h1 JUICYS Gallery
            p.info
                | Contact: 
                a.contact
                br
                | Gallery hours by appointment
        
        article.current
            h3 Current
            a &mdash;

        article.upcoming
            h3 Upcoming
            a(href="http://bbbeeccaa.net/")
                div.name Becca Abbe

        aritcle.past
            h3 Past
            ul
                a(href="/artists/Luke-Libera-Moore")
                    li.name Luke Libera Moore
                a(href="/artists/Liz-Englander")
                    li.name Liz Englander
                a(href="/artists/Flannery-Silva")
                    li.name Flannery Silva
                a(href="/artists/Keith-AllYn-Spencer")
                    li.name Keith AllYn Spencer
                a(href="/artists/Lily-Wong")
                    li.name Lily Wong
        article.press
            a(href="/press")
                h3 Press
        footer
            a(href="http://eliasmartinezcohen.com" target="_blank" title="Site built by eliasmartinezcohen.com")
                .sep
                    // Site built by Elías Martínez Cohen
                    // http://eliasmartinezcohen.com/
            .image
        script.
            _main.init();