@import "compass/reset";
@import "_base";

$footer-img: '/img/orangesandjuice.gif';
$main-w: 680px;
$m: 16px;

body {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	padding: $m;
}

ul {
	margin: 2*$m 0 0;
}

li {
	padding: $m/3 3*$m/2;
	a {
		display: block;
	}
}