@import "compass/reset";
@import "_base";

$header-img: '/img/header.png';
$footer-img: '/img/orangesandjuice.gif';
$main-w: 800px;

body {
	width: $main-w;
	@include bp(mobile) {
		max-width: 100vw;
	}
	margin: 0 auto;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 12px;
	letter-spacing: 0.03em;
	padding: 20px;
}

header {
	position: relative;
	width: 100%;
	.image {
		@include relative_fill;
		height: 500px;
		@include bp(mobile) { height: 200px; }
		background: url($header-img) center center no-repeat;
		background-size: cover;
	}
	h1 {
		@include absolute_fill;
		
		height: 500px;
		line-height: 500px;
		@include bp(mobile) { 
			height: 200px; 
			line-height: 200px;
		}

		color: white;
		font-size: 3.5em;
		letter-spacing: 0.0em;
		text-align: center;
		font-weight: 200;
		cursor: default;
	}

	.info {
		width: 185px;
		float: right;
		text-align: left;
		line-height: 1.3em;
		margin-top: 5px;
	}
}

article {
	width: 50%;
}

h3 {
	cursor: default;
	text-transform: uppercase;
	margin: 35px 0 3px;
	&::after {
		content: ':';
	}
}

.press h3 {
	cursor: pointer;
	color: black;
	&:hover {
		color: blue;
		text-decoration: underline; 
	}
	&::after {
		content: none;
	}
}

li { margin: 2px 0; }

.contact, .name {
	color: black;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: blue;
		text-decoration: underline;
	}
}

footer {
	width: 100%;
	a {
		display: block;
		margin-top: 380px;
		@include bp(mobile) {margin-top: 200px;}
		height: 40px;
		padding: 20px 0;
		position: relative;
		&:hover {
			.sep {
				background: blue;
			}
		}
		.sep {
			position: absolute;
			bottom: 20px;;
			width: 100%;
			height: 1px;
			background: #777;
		}
	}
	.image {
		margin: 0 auto;
		width: 112px;
		height: 128px;
		background: url($footer-img) center center no-repeat;
		background-size: contain;
	}
}

