/* line 17, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/_base.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../scss/artist.scss */
body {
  width: 680px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding: 20px;
}

/* line 16, ../scss/artist.scss */
a {
  text-decoration: none;
}
/* line 18, ../scss/artist.scss */
a:visited {
  color: #242424;
}

/* line 21, ../scss/artist.scss */
.header-img {
  width: 100%;
}

/* line 25, ../scss/artist.scss */
.name, .title {
  font-size: 2em;
  font-weight: bold;
  margin: 16px 0;
}

/* line 31, ../scss/artist.scss */
.dates {
  font-size: 1.1em;
  font-weight: bold;
  margin: 16px 0;
}

/* line 37, ../scss/artist.scss */
.address {
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.1em;
}

/* line 44, ../scss/artist.scss */
.content {
  padding-right: 80px;
  letter-spacing: 0.01em;
}
/* line 47, ../scss/artist.scss */
.content p {
  text-align: justify;
  margin: 16px 0;
  line-height: 1.2em;
}
/* line 48, ../scss/artist.scss */
.content p:not(.noindent) {
  text-indent: 10px;
}

/* line 55, ../scss/artist.scss */
.contact {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* line 59, ../scss/artist.scss */
.contact:hover {
  color: blue;
  text-decoration: underline;
}

/* line 65, ../scss/artist.scss */
footer {
  margin: 100px 0;
}
/* line 67, ../scss/artist.scss */
footer img {
  margin: 10px 0;
  max-width: 500px;
}
/* line 71, ../scss/artist.scss */
footer a {
  color: black;
}
/* line 73, ../scss/artist.scss */
footer a:hover {
  color: blue;
  text-decoration: underline;
}
