doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description' content='Juicys :) Liz Englander')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel='stylesheet' href='/css/artist.css')
        link(rel='icon' type='image/png' href='/img/juicysfavicon1.ico')

        script(src='/libs/jquery-2.1.1.min.js')
        script(src='/js/main.js')

        title Liz Englander | Juicys Gallery
    body
        a(href="/")
            i.back-btn.fa.fa-angle-left
        img.header-img(src='/artists/Liz-Englander/le-header.jpg')
        h1.gallery-name Juicys Gallery
        p.address
            | Manhattan Mini Storage
            br
            | 510 West 21st Street Room 05-03-18,
            br
            | New York, New York 10011
            br
            span.subway C/E at 23rd St.
        h1.name Liz Englander
            br
            span.dates July 17, 2014 &mdash; July 31, 2014

        h2.title Goodbye to All That
        .content
            p    
                | I wanted a hundred times to kill myself, but I still loved life. 
                | This ridiculous weakness is perhaps one of our most macabre 
                | tendencies: for is there anything more silly than to continually 
                | want to carry a burden that one can always throw to the ground?
            p.italic.noindent
                | Voltaire, Candide 
            p
                | Of course it might have been some other city, had circumstances 
                | been different and the time been different and had I been 
                | different, might have been Paris or Chicago or even San 
                | Francisco, but because I am talking about myself I am talking 
                | here about New York.
            p.italic.noindent
                | Joan Didion, "Goodbye to All That"
            p
                | For my first show in New York, I present a farewell to the city, 
                | my adopted home. Three years here with a rain cloud lurking over 
                | my head and I am just beginning to discern its outlines; it 
                | looks suspiciously like a forlorn, tear­soaked Papaya Dog. 
                | Sometimes a change of scenery is the only way to quiet a fussy 
                | baby. I'll be gone when the coconut oil solidifies.
            p.noindent
                | Love forever,
            p.noindent
                | Liz Englander
                br
                | July 9, 2014
                br
                | New York, NY

        footer
            img(src='/artists/Liz-Englander/gbtat1.png')
            img(src='/artists/Liz-Englander/gbtat2.png')
            img(src='/artists/Liz-Englander/gbtat3.png')
            img(src='/artists/Liz-Englander/gbtat4.png')
            img(src='/artists/Liz-Englander/gbtat5.png')
            img(src='/artists/Liz-Englander/gbtat6.png')
            img(src='/artists/Liz-Englander/gbtat7.png')
        script.
            _main.init();